In [117]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
x_values = pd.DataFrame(iris.data,columns=iris.feature_names)
y_values = pd.DataFrame(iris.target,columns=['target'])
irisDataFrame = pd.concat([x_values, y_values], axis=1)

## observe que temos 4 colunas de dados

In [118]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

portanto temos: 

     coluna 0 sepal length (cm)
     coluna 1 sepal width (cm)
     coluna 2 petal length (cm)
     coluna 3 petal width (cm)

## Criando um dataframe com dados para manipulaçao facilitada

In [119]:
dados=pd.DataFrame(iris.data,columns=iris.feature_names)

In [120]:
dados.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

## Selecionando parte dos dados originais com dataframe

In [121]:
parte_dos_dados_df=dados[['petal length (cm)','petal width (cm)']]
parte_dos_dados_df.head(5)

   petal length (cm)  petal width (cm)
0                1.4               0.2
1                1.4               0.2
2                1.3               0.2
3                1.5               0.2
4                1.4               0.2

## Selecionando parte dos dados originais (sem usar dataframe)

In [122]:
parte_dos_dados = iris.data[0:5, 2:4]  # Aqui selecionamos as 5 primiras linhas (0 a 4) e das caracteristicas 1 a 3 
parte_dos_dados

array([[ 1.4,  0.2],
       [ 1.4,  0.2],
       [ 1.3,  0.2],
       [ 1.5,  0.2],
       [ 1.4,  0.2]])

In [123]:
X = iris.data[:, :2]  # aqui pegamos todas as linhas apenas  as duas primeiras características
Y = iris.target       # aqui pegamos todas as linhas da coluna alvo

In [124]:
X[0:5] # mostrando soment as 5 primeiras

array([[ 5.1,  3.5],
       [ 4.9,  3. ],
       [ 4.7,  3.2],
       [ 4.6,  3.1],
       [ 5. ,  3.6]])

## Obtendo valores máximos e mínimos de cada sequencia

In [125]:
X[:, 0] # todos valores da posicao zero de x (primeicra caracteristica da variavel X)

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.6,  5. ,  4.4,  4.9,  5.4,
        4.8,  4.8,  4.3,  5.8,  5.7,  5.4,  5.1,  5.7,  5.1,  5.4,  5.1,
        4.6,  5.1,  4.8,  5. ,  5. ,  5.2,  5.2,  4.7,  4.8,  5.4,  5.2,
        5.5,  4.9,  5. ,  5.5,  4.9,  4.4,  5.1,  5. ,  4.5,  4.4,  5. ,
        5.1,  4.8,  5.1,  4.6,  5.3,  5. ,  7. ,  6.4,  6.9,  5.5,  6.5,
        5.7,  6.3,  4.9,  6.6,  5.2,  5. ,  5.9,  6. ,  6.1,  5.6,  6.7,
        5.6,  5.8,  6.2,  5.6,  5.9,  6.1,  6.3,  6.1,  6.4,  6.6,  6.8,
        6.7,  6. ,  5.7,  5.5,  5.5,  5.8,  6. ,  5.4,  6. ,  6.7,  6.3,
        5.6,  5.5,  5.5,  6.1,  5.8,  5. ,  5.6,  5.7,  5.7,  6.2,  5.1,
        5.7,  6.3,  5.8,  7.1,  6.3,  6.5,  7.6,  4.9,  7.3,  6.7,  7.2,
        6.5,  6.4,  6.8,  5.7,  5.8,  6.4,  6.5,  7.7,  7.7,  6. ,  6.9,
        5.6,  7.7,  6.3,  6.7,  7.2,  6.2,  6.1,  6.4,  7.2,  7.4,  7.9,
        6.4,  6.3,  6.1,  7.7,  6.3,  6.4,  6. ,  6.9,  6.7,  6.9,  5.8,
        6.8,  6.7,  6.7,  6.3,  6.5,  6.2,  5.9])

In [126]:
X[:, 0] # todos valores da posicao um de x (segunda caracteristica da variavel X)

array([ 5.1,  4.9,  4.7,  4.6,  5. ,  5.4,  4.6,  5. ,  4.4,  4.9,  5.4,
        4.8,  4.8,  4.3,  5.8,  5.7,  5.4,  5.1,  5.7,  5.1,  5.4,  5.1,
        4.6,  5.1,  4.8,  5. ,  5. ,  5.2,  5.2,  4.7,  4.8,  5.4,  5.2,
        5.5,  4.9,  5. ,  5.5,  4.9,  4.4,  5.1,  5. ,  4.5,  4.4,  5. ,
        5.1,  4.8,  5.1,  4.6,  5.3,  5. ,  7. ,  6.4,  6.9,  5.5,  6.5,
        5.7,  6.3,  4.9,  6.6,  5.2,  5. ,  5.9,  6. ,  6.1,  5.6,  6.7,
        5.6,  5.8,  6.2,  5.6,  5.9,  6.1,  6.3,  6.1,  6.4,  6.6,  6.8,
        6.7,  6. ,  5.7,  5.5,  5.5,  5.8,  6. ,  5.4,  6. ,  6.7,  6.3,
        5.6,  5.5,  5.5,  6.1,  5.8,  5. ,  5.6,  5.7,  5.7,  6.2,  5.1,
        5.7,  6.3,  5.8,  7.1,  6.3,  6.5,  7.6,  4.9,  7.3,  6.7,  7.2,
        6.5,  6.4,  6.8,  5.7,  5.8,  6.4,  6.5,  7.7,  7.7,  6. ,  6.9,
        5.6,  7.7,  6.3,  6.7,  7.2,  6.2,  6.1,  6.4,  7.2,  7.4,  7.9,
        6.4,  6.3,  6.1,  7.7,  6.3,  6.4,  6. ,  6.9,  6.7,  6.9,  5.8,
        6.8,  6.7,  6.7,  6.3,  6.5,  6.2,  5.9])

In [135]:
x_min = X[:, 0].min() 
print(x_min)
x_max = X[:, 0].max()
print(x_max)

4.3
7.9

## também posso fazer direto

In [144]:
y_min,y_max = X[:, 1].min() , X[:, 1].max() 
print(y_min)
print(y_max)

2.0
4.4

## Obtendo maximos e minimos de todos os valores com desvios de -0.5 e  +0.5 para mínimos ou máximos

In [145]:
x_min, x_max = X[:, 0].min() - .5, X[:, 0].max() + .5
y_min, y_max = X[:, 1].min() - .5, X[:, 1].max() + .5

In [147]:
print(x_min)
print(y_min)
print(x_max)
print(y_min)

3.8
1.5
8.4
1.5

## Selecionando parte dos dados originais (sem usar dataframe)

## references http://scikit-learn.org/stable/auto_examples/datasets/plot_iris_dataset.html