In [11]:
import pandas as pd
from sklearn import datasets
iris = datasets.load_iris()
x_values = pd.DataFrame(iris.data,columns=iris.feature_names)
y_values = pd.DataFrame(iris.target,columns=['target'])
irisDataFrame = pd.concat([x_values, y_values], axis=1)

In [12]:
import numpy as np
#pd.DataFrame.pivot_table(irisDataFrame, values='index', index=['target'],columns=['petal width (cm)','petal length (cm)'])
pd.DataFrame.pivot_table(irisDataFrame, 
                         index=['target'],aggfunc=np.count_nonzero)

,petal length (cm),petal width (cm),sepal length (cm),sepal width (cm)
target,,,,
0,50.0,50.0,50.0,50.0
1,50.0,50.0,50.0,50.0
2,50.0,50.0,50.0,50.0

In [13]:
irisDataFrame.reset_index(level=0, inplace=True)
irisDataFrame.head()

,index,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,0,5.1,3.5,1.4,0.2,0
1,1,4.9,3.0,1.4,0.2,0
2,2,4.7,3.2,1.3,0.2,0
3,3,4.6,3.1,1.5,0.2,0
4,4,5.0,3.6,1.4,0.2,0

In [3]:
irisDataFrame.pivot(index='index',columns='target').head()

       sepal length (cm)         sepal width (cm)         petal length (cm)  \
target                 0   1   2                0   1   2                 0
index
0                    5.1 NaN NaN              3.5 NaN NaN               1.4
1                    4.9 NaN NaN              3.0 NaN NaN               1.4
2                    4.7 NaN NaN              3.2 NaN NaN               1.3
3                    4.6 NaN NaN              3.1 NaN NaN               1.5
4                    5.0 NaN NaN              3.6 NaN NaN               1.4

               petal width (cm)
target   1   2                0   1   2
index
0      NaN NaN              0.2 NaN NaN
1      NaN NaN              0.2 NaN NaN
2      NaN NaN              0.2 NaN NaN
3      NaN NaN              0.2 NaN NaN
4      NaN NaN              0.2 NaN NaN

In [15]:
pd.DataFrame.pivot_table(irisDataFrame, values='index', 
                         index=['petal length (cm)', 'petal width (cm)'],
                         columns=['target'], 
                         aggfunc=np.sum)

target                                  0      1      2
petal length (cm) petal width (cm)
1.0               0.2                22.0    NaN    NaN
1.1               0.1                13.0    NaN    NaN
1.2               0.2                49.0    NaN    NaN
1.3               0.2               118.0    NaN    NaN
                  0.3                81.0    NaN    NaN
                  0.4                16.0    NaN    NaN
1.4               0.1                12.0    NaN    NaN
                  0.2               170.0    NaN    NaN
                  0.3                68.0    NaN    NaN
1.5               0.1               112.0    NaN    NaN
                  0.2               134.0    NaN    NaN
                  0.3                19.0    NaN    NaN
                  0.4                67.0    NaN    NaN
1.6               0.2               141.0    NaN    NaN
                  0.4                26.0    NaN    NaN
                  0.6                43.0    NaN    NaN
1.7               0.2                20.0    NaN    NaN
                  0.3                18.0    NaN    NaN
                  0.4                 5.0    NaN    NaN
                  0.5                23.0    NaN    NaN
1.9               0.2                24.0    NaN    NaN
                  0.4                44.0    NaN    NaN
3.0               1.1                 NaN   98.0    NaN
3.3               1.0                 NaN  150.0    NaN
3.5               1.0                 NaN  139.0    NaN
3.6               1.3                 NaN   64.0    NaN
3.7               1.0                 NaN   81.0    NaN
3.8               1.1                 NaN   80.0    NaN
3.9               1.1                 NaN   69.0    NaN
                  1.2                 NaN   82.0    NaN
...                                   ...    ...    ...
5.3               1.9                 NaN    NaN  111.0
                  2.3                 NaN    NaN  115.0
5.4               2.1                 NaN    NaN  139.0
                  2.3                 NaN    NaN  148.0
5.5               1.8                 NaN    NaN  253.0
                  2.1                 NaN    NaN  112.0
5.6               1.4                 NaN    NaN  134.0
                  1.8                 NaN    NaN  103.0
                  2.1                 NaN    NaN  128.0
                  2.2                 NaN    NaN  132.0
                  2.4                 NaN    NaN  276.0
5.7               2.1                 NaN    NaN  124.0
                  2.3                 NaN    NaN  120.0
                  2.5                 NaN    NaN  144.0
5.8               1.6                 NaN    NaN  129.0
                  1.8                 NaN    NaN  108.0
                  2.2                 NaN    NaN  104.0
5.9               2.1                 NaN    NaN  102.0
                  2.3                 NaN    NaN  143.0
6.0               1.8                 NaN    NaN  125.0
                  2.5                 NaN    NaN  100.0
6.1               1.9                 NaN    NaN  130.0
                  2.3                 NaN    NaN  135.0
                  2.5                 NaN    NaN  109.0
6.3               1.8                 NaN    NaN  107.0
6.4               2.0                 NaN    NaN  131.0
6.6               2.1                 NaN    NaN  105.0
6.7               2.0                 NaN    NaN  122.0
                  2.2                 NaN    NaN  117.0
6.9               2.3                 NaN    NaN  118.0

[102 rows x 3 columns]